extends layout

block content
    .span10
        .row
            h1 Games
         
        .row
            a.btn.btn-success.text-center(href='/admin/season/#{seasonId}/round/#{round}/game/create') Create New Game
            
    
        br
        
        form(id='form', method='post', action='/admin/season/#{seasonId}/round/#{round}')
            .row
                .span1.offset9
                    button.btn.btn-success.text-center(type='submit') Update
            .row
                table.table.table-striped
                    thead
                        tr
                            th Date & Time
                            th Fixture
                            th Result
                            th Score
                    tbody
                        each game, i in games
                            tr
                                td 
                                    input(id='date#{i}', name='date#{i}', value='#{game.dateandtime}', 
                                        pattern='^20[0-9][0-9]-[0-1][0-9]-[0-3][0-9] [0-2][0-9]:[0-5][0-9]:[0-5][0-9]$')
                                td #{game.home} v #{game.away}
                                td 
                                    select(id='result#{i}', name='result#{i}')
                                        option(value='') Please choose...
                                        if (game.result == 'HOME')
                                            option(value='HOME', selected) Home
                                        else
                                            option(value='HOME') Home
                                        if (game.result == 'DRAW')
                                            option(value='DRAW', selected) Draw
                                        else
                                            option(value='DRAW') Draw
                                        if (game.result == 'AWAY')
                                            option(value='AWAY', selected) Away
                                        else
                                            option(value='AWAY') Away
                                td 
                                    input(id='score#{i}', name='score#{i}', value='#{game.score}')
                                    input(id='id#{i}', name='id#{i}', value='#{game.id}', type='hidden')
                    
                input(id='count', name='count', value='#{games.length}', type='hidden')
            .row
                .span1.offset9
                    button.btn.btn-success.text-center(type='submit') Update